---
import Icon from "@/components/Icon.astro";

interface Props {
  id: string;
  title: string;
  icon: "briefcase" | "star" | "mail";
  class?: string;
}

const { id, title, icon, class: className } = Astro.props;
---

<section
  id={id}
  aria-labelledby={`${id}-heading`}
  class:list={["flex w-full flex-col gap-5", className]}
>
  <div class="section-heading">
    <Icon name={icon} class="h-8" />
    <h2 id={`${id}-heading`}>{title}</h2>
  </div>
  <slot />
</section>
